* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif, "Sora", Sans-serif;
    ;
}

body {
    height: 100vh;
}

.logo {
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
}

.logo a {
    text-decoration: none;
    color: aliceblue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #614623, #331f04);
    padding: 30px 20px 27px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.burguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    z-index: 1001;
}

.burguer span {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    border-radius: 2px;
    transition: 0.3s;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

.nav-links a:hover {
    background-color: #2e2e32;
    border-radius: 15px;
}

.menu-container {
    margin-top: 90px;
    background-image: url(../img/imagem1.jpeg);
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 800px;
}

.sub-menu-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

.sub-menu {
    border: 10px solid #FFD700;
    padding: 20vh;
}

.sub-menu img {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-menu h1 {
    font-size: 2.9rem;
    margin-bottom: .2rem;
}

.sub-menu h2 {
    font-size: 2rem;
    margin-bottom: .3rem;
}

.sub-menu h1,
h2 {
    font-weight: bold;
    background-image: url(../img/textura.avif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.textMenu {
    margin-top: 0;
    margin-bottom: .3rem;
    font-size: 1.5rem;
}

.escritorio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #eeeeee;
    padding: 80px 60px;
    flex-wrap: wrap;
}

.conteudo {
    flex: 1 1 500px;
    max-width: 600px;
}

.conteudo h2 {
    font-size: 32px;
    font-family: 'Georgia', serif;
    margin-bottom: 20px;
    color: black;
}

.conteudo p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

.conteudo a {
    color: white;
    text-decoration: none;
}

.conteudo button {
    background-color: #f1b02d;
    color: white;
    border: none;
    padding: 12px 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.conteudo button:hover {
    background-color: #2e2e32;
    border: 2px solid #f1b02d;
}

.anos {
    flex: 0 0 300px;
    background-color: #382307;
    color: white;
    padding: 60px 30px;
    text-align: center;
    border-radius: 10px;
}

.anos h3 {
    font-size: 72px;
    font-family: 'Georgia', serif;
    margin: 0;
}

.anos p {
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 14px;
    color: #ffffffcc;
}

.direitos {
    background: white;
    padding: 2rem;
}

.direitos-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
}

.direitos-container img {
    max-width: 300px;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    margin: 0;
    padding: 0;
    display: block;
}

.direitos h2 {
    color: #2e2e32;
    font-size: 30px;
    font-family: 'Georgia', serif;
    padding: 1rem;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

.info {
    flex: 1;
    max-width: 700px;
    background-color: #2e253f;
    padding: 1.5rem;
    border-radius: 0px 8px 8px 0;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.info p {
    color: white;
    margin-bottom: 1rem;
    padding: 1rem;
}

.whats {
    display: inline-block;
    background: #ffcc4d;
    color: #ffff;
    padding: 12px 24px;
    margin-top: 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    width: fit-content;
    max-width: 100%;
}

.faq {
    padding: 1rem;
    background: #fff;
    max-width: 1050px;
    margin: 2rem auto;

}

.faq details {
    margin-bottom: 0rem;
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.faq summary {
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1rem;
    color: #2e2e32;
    outline: none;
}

.faq p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.contatos {
    background: linear-gradient(90deg, #614623, #331f04);
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 40px 20px;
}

.contatos-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    color: #fff;
}

.contatos-container img {
    max-width: 200px;
    height: auto;
    margin-right: 40px;
    flex-shrink: 0;
}

.contato-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.social-icons {
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ffd700;
}

.endereco p {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.endereco a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.endereco a:hover {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
}


@media screen and (max-width: 1090px) {

    .logo {
        color: aliceblue;
        font-size: 20px;
        font-weight: bold;
        margin-left: 15px;
    }

    .burguer {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 40px;
        right: 0;
        background: linear-gradient(90deg, #614623, #331f04);
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
        z-index: 1000;
    }

    ul.nav-links.open {
        max-height: 300px;
        padding: 20px 0;
    }

    .navbar {
        position: relative;
        padding: 10px 20px;
    }

    .menu-container {
        margin-top: 0;
        background-image: url(../img/imagem1.jpeg);
        background-attachment: scroll;
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 800px;
    }

    .sub-menu {
        border: 10px solid #FFD700;
        padding: 5vh;
    }

    .info {
        flex: 1;
        max-width: 700px;
        background-color: #2e253f;
        padding: 1.5rem;
        border-radius: 0px 0px 8px 8px;
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    .direitos-container img {
        max-width: 900px;
        width: 70%;
        border-radius: 8px 0px 0px 8px;
        margin: 0;
        padding: 0;
        display: block;
    }
}


@media screen and (max-width: 768px) {
    .logo {
        color: aliceblue;
        font-size: 20px;
        font-weight: bold;
        margin-left: 15px;
    }


    .menu-container {
        margin-top: 0;
        background-image: url(../img/imagem1.jpeg);
        background-attachment: scroll;
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 800px;
    }

    .sub-menu {
        border: 10px solid #FFD700;
        padding: 5vh;
    }
}

@media screen and (max-width: 580px) {
    .logo {
        color: aliceblue;
        font-size: 15px;
        font-weight: bold;
        margin-left: 15px;
    }

    .sub-menu {
        border: 10px solid #FFD700;
        padding: 5vh;
    }
}

@media screen and (max-width: 344px) {
    .logo {
        color: aliceblue;
        font-size: 12px;
        font-weight: bold;
        margin-left: 15px;
    }

    .sub-menu {
        border: 10px solid #FFD700;
        padding: 1vh;
    }
}