* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif, "Sora", Sans-serif;
}

body {
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #614623, #331f04);
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo a {
    text-decoration: none;
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #2e2e32;
    border-radius: 15px;
}

.burguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burguer span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: 0.3s;
}

.imagem-fundo-container {
    margin-top: 65px;
    background-image: url(../img/direito.jpg);
    background-attachment: scroll;
    width: 100%;
    background-size: cover;
    background-position: initial;
    height: 400px;
}

.imagem-fundo h2 {
    font-size: 2.8rem;
    font-weight: bold;
    background-image: url(../img/textura.avif);
    background-clip: text;
    color: transparent;
    padding: 90px 0 0 70px;
    background-color: #eeeeee;
}

.conteudo {
    justify-self: center;
    width: 500px;
}

.conteudo h1,h2 {
    margin-bottom: 2.0rem;
}

.conteudo p {
    text-align: start;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0px;
    padding-bottom: 30px;
}

.conteudo ul {
    list-style: none;
    margin-bottom: 20px;
}

.conteudo ul li::before {
    content: "•";
    color: #382307;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}
.contatos {
    background: linear-gradient(90deg, #614623, #331f04);
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 40px 20px;
}

.contatos-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    color: #fff;
}

.contatos-container img {
    max-width: 200px;
    height: auto;
    margin-right: 40px;
    flex-shrink: 0;
}

.contato-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.social-icons {
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ffd700;
}

.endereco p {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.endereco a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.endereco a:hover {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    .logo {
        color: aliceblue;
        font-size: 20px;
        font-weight: bold;
        margin-left: 15px;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #382307;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease, padding 0.3s ease;
    }

    .nav-links.open {
        max-height: 300px;
        padding: 20px 0;
    }

    .burguer {
        display: flex;
    }

    .conteudo {
        justify-self: center;
        width: 200px;
    }

    .conteudo p {
        text-align: start;
        font-size: 16px;
        line-height: 1.6;
        color: #333;
        margin: 0px;
        padding-bottom: 30px;
        text-align: justify;
    }
}

main {
    padding-top: 100px;

    background-color: #eeeeee;
}